* {
    box-sizing: border-box;
}

body {
    margin: 0;
    transition: background 0.4s ease-in-out;
}

.carrossel-container {
    overflow: hidden;
    position: relative;
    width: 50vw;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 30px;
}

.carrossel {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: tranform 0.4s ease-in-out;
}

.slide {
    width: 100vh;
    text-align: center;
}

.slide img {
    object-fit: cover;
    height: 380px;
    width: 600px;
}

.setas {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top:30%;
    transform: translateY(-50%);
    font-size: 5rem;
    opacity: 0.8;
}

.seta-esquerda {
    left: 2rem;
}

.seta-direita {
    right: 2rem;
}